<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LMNts.EMUService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <LMNts.EMUService.Properties.Settings>
            <setting name="emuIP0" serializeAs="String">
                <value>0.0.0.000</value>
            </setting>
            <setting name="emuIP1" serializeAs="String">
                <value>0.0.0.001</value>
            </setting>
            <setting name="emuIP2" serializeAs="String">
                <value>0.0.0.002</value>
            </setting>
            <setting name="emuIP3" serializeAs="String">
                <value>0.0.0.003</value>
            </setting>
            <setting name="vizURL" serializeAs="String">
                <value>http://serverName/website.html</value>
            </setting>
            <setting name="unsubscribe" serializeAs="String">
                <value>admin@mycompany.com</value>
            </setting>
            <setting name="dbServer" serializeAs="String">
                <value>ServerNameWhereSQLDatabaseExists</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>DatabaseName</value>
            </setting>
            <setting name="dbTableName" serializeAs="String">
                <value>dbo.OptoEMU22</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>UsernameToReadAndWriteDatabase</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>PasswordForUser</value>
            </setting>
            <setting name="mailClient" serializeAs="String">
                <value>mailclient.mycompany.com</value>
            </setting>
            <setting name="optoMMPPort" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="commTimeout" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="scanTime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ipv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prevYears" serializeAs="String">
                <value>2</value>
            </setting>
        </LMNts.EMUService.Properties.Settings>
    </userSettings>
</configuration>
